.g-e-n-e-r-a-l-container {
  min-height: 100vh;
}
.g-e-n-e-r-a-l-g-e-n-e-r-a-l {
  width: 100%;
  height: 1231px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.g-e-n-e-r-a-l-group45 {
  top: 0px;
  left: 0px;
  width: 1568.091064453125px;
  height: 1231px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1231px;
  position: absolute;
  border-color: rgba(183, 183, 183, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.g-e-n-e-r-a-l-group2 {
  top: 93px;
  left: 23px;
  width: 1377px;
  height: 1102px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-group44 {
  top: 0px;
  left: 0px;
  width: 1377px;
  height: 64.60392761230469px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-group1 {
  top: 0px;
  left: 0px;
  width: 1377px;
  height: 64.60392761230469px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle3 {
  top: 11.2354736328125px;
  left: 196.7142791748047px;
  width: 197px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.g-e-n-e-r-a-l-rectangle4 {
  top: 11.2354736328125px;
  left: 393.42864990234375px;
  width: 197px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.g-e-n-e-r-a-l-rectangle5 {
  top: 11.2354736328125px;
  left: 590.1428833007812px;
  width: 197px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.g-e-n-e-r-a-l-rectangle6 {
  top: 11.2354736328125px;
  left: 786.857177734375px;
  width: 197px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.g-e-n-e-r-a-l-rectangle7 {
  top: 11.2354736328125px;
  left: 983.5714721679688px;
  width: 197px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.g-e-n-e-r-a-l-rectangle8 {
  top: 11.2354736328125px;
  left: 1180.2857666015625px;
  width: 197px;
  height: 53px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.g-e-n-e-r-a-l-rectangle2 {
  top: 0px;
  left: 0px;
  width: 220px;
  height: 65px;
  position: absolute;
  border-color: rgba(27, 95, 196, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}
.g-e-n-e-r-a-l-text {
  top: 20px;
  left: 229px;
  color: rgba(247, 246, 246, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text002 {
  top: 24px;
  left: 620px;
  color: rgba(247, 246, 246, 1);
  width: 135px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text004 {
  top: 25px;
  left: 423px;
  color: rgba(247, 246, 246, 1);
  width: 135px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text006 {
  top: 24px;
  left: 783px;
  color: rgba(247, 246, 246, 1);
  width: 211px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text008 {
  top: 25px;
  left: 1042.1903076171875px;
  color: rgba(247, 246, 246, 1);
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text010 {
  top: 25px;
  left: 1223px;
  color: rgba(247, 246, 246, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text012 {
  top: 14px;
  left: 19px;
  color: rgba(27, 95, 196, 1);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-image5 {
  top: 56px;
  left: 0px;
  width: 1377px;
  height: 1064px;
  position: absolute;
  border-color: transparent;
}
.g-e-n-e-r-a-l-image13 {
  top: 244px;
  left: 786px;
  width: 422px;
  height: 122px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #000000;
  border-color: transparent;
  border-radius: 20px;
}
.g-e-n-e-r-a-l-group16 {
  top: 682.4307861328125px;
  left: 553px;
  width: 122px;
  height: 28.13846206665039px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle20 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 21px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text014 {
  top: 3.630767583847046px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group42 {
  top: 684.2461547851562px;
  left: 885px;
  width: 122px;
  height: 28.13846206665039px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2001 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 21px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text016 {
  top: 3.630768299102783px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-image17 {
  top: 116px;
  left: 731px;
  width: 88px;
  height: 87px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: transparent;
}
.g-e-n-e-r-a-l-group3 {
  top: 26px;
  left: 485px;
  width: 482px;
  height: 54px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(44, 111, 160, 1);
}
.g-e-n-e-r-a-l-text018 {
  top: 10px;
  left: 34px;
  color: rgba(247, 246, 246, 1);
  width: 385px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group11 {
  top: 12px;
  left: 37px;
  width: 1352px;
  height: 82px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-text020 {
  top: 14px;
  color: rgba(28, 95, 196, 1);
  width: 385px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poly;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text022 {
  top: 36px;
  color: rgba(0, 0, 0, 1);
  width: 385px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poly;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-image6 {
  top: 1px;
  left: 0px;
  width: 56px;
  height: 71px;
  position: absolute;
  border-color: transparent;
}
.g-e-n-e-r-a-l-image8 {
  top: 0px;
  left: 1229px;
  width: 123px;
  height: 82px;
  position: absolute;
  border-color: transparent;
}
.g-e-n-e-r-a-l-group10 {
  top: 632px;
  left: 49px;
  width: 1333px;
  height: 118px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-shadow: 5px 5px 10px 0px #000000;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(247, 249, 249, 1);
}
.g-e-n-e-r-a-l-group13 {
  top: 641.984619140625px;
  left: 363px;
  width: 671px;
  height: 21.78461456298828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-group12 {
  top: 0px;
  left: 0px;
  width: 671px;
  height: 21.78461456298828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-ellipse2 {
  top: 0px;
  left: 332px;
  width: 15px;
  height: 14px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.g-e-n-e-r-a-l-line2 {
  top: 21.784610748291016px;
  left: 0px;
  width: 671px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-text024 {
  top: 679.2000122070312px;
  left: 434px;
  color: rgba(0, 0, 0, 1);
  width: 608px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group5 {
  top: 679.2000122070312px;
  left: 738px;
  width: 277.8937072753906px;
  height: 23.61334800720215px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-text026 {
  color: rgba(0, 0, 0, 1);
  width: 278px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text028 {
  top: 679.2000122070312px;
  left: 59px;
  color: rgba(0, 0, 0, 1);
  width: 608px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text030 {
  top: 313px;
  left: 249px;
  color: rgba(0, 0, 0, 1);
  width: 257px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.g-e-n-e-r-a-l-text032 {
  top: 510px;
  left: 221px;
  color: rgba(0, 0, 0, 1);
  width: 608px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.g-e-n-e-r-a-l-group9 {
  top: 679.2000122070312px;
  left: 1042px;
  width: 526.0911254882812px;
  height: 23.600000381469727px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-text034 {
  color: rgba(0, 0, 0, 1);
  width: 526px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group161 {
  top: 706.4307861328125px;
  left: 164px;
  width: 122px;
  height: 28.13846206665039px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2002 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 21px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text036 {
  top: 3.630767583847046px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group421 {
  top: 708.2461547851562px;
  left: 496px;
  width: 122px;
  height: 28.13846206665039px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2003 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 21px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text038 {
  top: 3.630768299102783px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group162 {
  top: 710.0615234375px;
  left: 804px;
  width: 457px;
  height: 29.953845977783203px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2004 {
  top: 1.8153843879699707px;
  left: 11px;
  width: 104px;
  height: 21px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text040 {
  top: 5.44615364074707px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group163 {
  top: 0px;
  left: 335px;
  width: 122px;
  height: 28.13846206665039px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2005 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 21px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text042 {
  top: 3.6307690143585205px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text044 {
  top: 576px;
  left: 553px;
  color: rgba(38, 72, 195, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Jua;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-image12 {
  top: 382px;
  left: 147px;
  width: 471px;
  height: 100px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #000000;
  border-color: transparent;
}
.g-e-n-e-r-a-l-group43 {
  top: 208px;
  left: 118px;
  width: 519px;
  height: 105px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-shadow: 5px 5px 10px 0px #000000;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(28, 95, 196, 1);
}
.g-e-n-e-r-a-l-image15 {
  top: 7.835813999176025px;
  left: 18.06647491455078px;
  width: 489px;
  height: 97px;
  position: absolute;
  border-color: transparent;
}
.g-e-n-e-r-a-l-image18 {
  top: 209px;
  left: 904px;
  width: 87px;
  height: 87px;
  position: absolute;
  border-color: transparent;
}
.g-e-n-e-r-a-l-image19 {
  top: 215px;
  left: 1178px;
  width: 108px;
  height: 74px;
  position: absolute;
  border-color: transparent;
}
.g-e-n-e-r-a-l-image20 {
  top: 209px;
  left: 1047px;
  width: 84px;
  height: 89px;
  position: absolute;
  border-color: transparent;
}
.g-e-n-e-r-a-l-group29 {
  top: 771px;
  left: 45px;
  width: 1338px;
  height: 399px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-group28 {
  top: 0px;
  left: 0px;
  width: 540.1094970703125px;
  height: 398px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-group37 {
  top: 0px;
  left: 0px;
  width: 540.1094970703125px;
  height: 398px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-group38 {
  top: 0px;
  left: 0px;
  width: 540.1094970703125px;
  height: 398px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-group36 {
  top: 0px;
  left: 0px;
  width: 540.1094970703125px;
  height: 398px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-group7 {
  top: 0px;
  left: 0px;
  width: 507px;
  height: 398px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-shadow: 5px 5px 10px 0px #000000;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(248, 250, 249, 1);
}
.g-e-n-e-r-a-l-ellipse1 {
  top: 16px;
  left: 237px;
  width: 25px;
  height: 15px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.g-e-n-e-r-a-l-line1 {
  top: 39px;
  left: 8px;
  width: 483px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-group25 {
  top: 241.66806030273438px;
  left: 360px;
  width: 104px;
  height: 19.04154396057129px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(38, 72, 195, 1);
}
.g-e-n-e-r-a-l-text046 {
  top: 100.00027465820312px;
  left: 36.96319580078125px;
  color: rgba(0, 0, 0, 1);
  width: 503px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text048 {
  top: 134.16720581054688px;
  left: 36.96319580078125px;
  color: rgba(0, 0, 0, 1);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group22 {
  top: 91.66687774658203px;
  left: 24.5582275390625px;
  width: 456.8631591796875px;
  height: 106.66751098632812px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-line21 {
  top: 0px;
  left: 0px;
  width: 457px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-line3 {
  top: 35.8336181640625px;
  left: 1.1368683772161603e-13px;
  width: 457px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-line4 {
  top: 70.00055694580078px;
  left: 1.1368683772161603e-13px;
  width: 457px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-line5 {
  top: 106.66751098632812px;
  left: 1.1368683772161603e-13px;
  width: 457px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-group18 {
  top: 65px;
  left: 349px;
  width: 122px;
  height: 25.664691925048828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2006 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text050 {
  top: 3.311572790145874px;
  left: 5.684341886080802e-14px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group19 {
  top: 100.8336181640625px;
  left: 349px;
  width: 122px;
  height: 25.664691925048828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2007 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text052 {
  top: 3.3115737438201904px;
  left: 5.684341886080802e-14px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group20 {
  top: 135.00054931640625px;
  left: 349px;
  width: 122px;
  height: 25.664691925048828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2008 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text054 {
  top: 3.3115692138671875px;
  left: 5.684341886080802e-14px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group21 {
  top: 169.16749572753906px;
  left: 349px;
  width: 122px;
  height: 25.664691925048828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2009 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text056 {
  top: 3.311568021774292px;
  left: 5.684341886080802e-14px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group24 {
  top: 207.50112915039062px;
  left: 349px;
  width: 122px;
  height: 25.664691925048828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2010 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text058 {
  top: 3.3115780353546143px;
  left: 5.684341886080802e-14px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text060 {
  top: 245.8347625732422px;
  left: 349px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text062 {
  top: 275.83502197265625px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text064 {
  top: 65px;
  left: 22px;
  color: rgba(0, 0, 0, 1);
  width: 206px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text066 {
  top: 169.16749572753906px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  width: 220px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text068 {
  top: 308.33526611328125px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  width: 253px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group26 {
  top: 275.83502197265625px;
  left: 349px;
  width: 122px;
  height: 25.664691925048828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2011 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text070 {
  top: 3.311575412750244px;
  left: 5.684341886080802e-14px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group27 {
  top: 313.3352966308594px;
  left: 349px;
  width: 122px;
  height: 25.664691925048828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2012 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text072 {
  top: 3.311570167541504px;
  left: 5.684341886080802e-14px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text074 {
  top: 340px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  width: 253px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group281 {
  top: 345.0000305175781px;
  left: 349px;
  width: 122px;
  height: 25.664691925048828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2013 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text076 {
  top: 3.311570167541504px;
  left: 5.684341886080802e-14px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text078 {
  top: 238.33470153808594px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text080 {
  top: 204.1677703857422px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-line31 {
  top: 235px;
  left: 22px;
  width: 457px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-line41 {
  top: 269.16693115234375px;
  left: 22px;
  width: 457px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-line51 {
  top: 305.8338623046875px;
  left: 22px;
  width: 457px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-line6 {
  top: 339.83197021484375px;
  left: 22.4417724609375px;
  width: 457px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-group40 {
  top: 0px;
  left: 527px;
  width: 811px;
  height: 399px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-group30 {
  top: 0px;
  left: 0px;
  width: 811px;
  height: 399px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-group39 {
  top: 0px;
  left: 0px;
  width: 811px;
  height: 399px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-group121 {
  top: 0px;
  left: 0px;
  width: 811px;
  height: 399px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-group15 {
  top: 0px;
  left: 0px;
  width: 811px;
  height: 399px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-group71 {
  top: 0px;
  left: 0px;
  width: 811px;
  height: 399px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-shadow: 5px 5px 10px 0px #000000;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(248, 250, 249, 1);
}
.g-e-n-e-r-a-l-ellipse11 {
  top: 13.265972137451172px;
  left: 373.97320556640625px;
  width: 33px;
  height: 15px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.g-e-n-e-r-a-l-line11 {
  top: 40.81840515136719px;
  left: 10.87129020690918px;
  width: 791px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-text082 {
  top: 51px;
  left: 34.3555908203125px;
  color: rgba(0, 0, 0, 1);
  width: 645px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text084 {
  top: 85px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 608px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text086 {
  top: 144px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 608px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text088 {
  top: 203px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 608px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text090 {
  top: 259px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 608px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text092 {
  top: 292px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 608px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-text094 {
  top: 325px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  width: 608px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-line22 {
  top: 81px;
  left: 24px;
  width: 761px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-line42 {
  top: 142px;
  left: 24px;
  width: 761px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-line52 {
  top: 205px;
  left: 24px;
  width: 761px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-line61 {
  top: 258px;
  left: 26px;
  width: 761px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-line7 {
  top: 292px;
  left: 26px;
  width: 761px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-line9 {
  top: 325px;
  left: 26px;
  width: 761px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-line10 {
  top: 358px;
  left: 24px;
  width: 761px;
  height: 0px;
  position: absolute;
}
.g-e-n-e-r-a-l-group291 {
  top: 55px;
  left: 663px;
  width: 122px;
  height: 25.664691925048828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2014 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text096 {
  top: 3.311572790145874px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group32 {
  top: 104px;
  left: 663px;
  width: 122px;
  height: 25.664691925048828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2015 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text098 {
  top: 3.311573028564453px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group292 {
  top: 159px;
  left: 665px;
  width: 122px;
  height: 25.664691925048828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2016 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text100 {
  top: 3.311572790145874px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group33 {
  top: 220px;
  left: 663px;
  width: 124px;
  height: 166.66468811035156px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2017 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text102 {
  top: 3.3115692138671875px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group293 {
  top: 45px;
  left: 0px;
  width: 124px;
  height: 121.66468811035156px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-group34 {
  top: 0px;
  left: 0px;
  width: 122px;
  height: 25.664688110351562px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2018 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text104 {
  top: 3.3115692138671875px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group294 {
  top: 33px;
  left: 0px;
  width: 124px;
  height: 88.66468811035156px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-group35 {
  top: 0px;
  left: 0px;
  width: 122px;
  height: 25.664688110351562px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2019 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text106 {
  top: 3.3115692138671875px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group295 {
  top: 33px;
  left: 2px;
  width: 122px;
  height: 55.66469192504883px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2020 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text108 {
  top: 3.31158447265625px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group296 {
  top: 30px;
  left: 0px;
  width: 122px;
  height: 25.664691925048828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-rectangle2021 {
  top: 0px;
  left: 11px;
  width: 104px;
  height: 19px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.g-e-n-e-r-a-l-text110 {
  top: 3.311572790145874px;
  color: rgba(255, 255, 255, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.g-e-n-e-r-a-l-group6 {
  top: 361px;
  left: 32px;
  width: 398.00897216796875px;
  height: 26.014705657958984px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.g-e-n-e-r-a-l-text112 {
  color: rgba(0, 0, 0, 1);
  width: 398px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Itim;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
